.grid-m{
	display: grid;
	grid-template-columns: 1fr;
}

.welcome, .solutions,.customize,
.reporting,.pricing,.people,.partners,
.faqs, .team,.projects,.features,
.testimonials,.ready,.get-started,.blogs,
.footer, .welcome .form-area,.head,
.solutions .content .solution,
.pricing .content .card .price,
.people .content,.people .content .info,
.faqs .content,
.team .content .team-member,
.team .content .team-member .text .title,
.features .content .feature,
.features .content .feature .text,.get-started .form-area form,
.blogs .content .blog,
.contact-us .form-area,.contact-us .map-area,
.contact-us .address{
	grid-template-rows: auto auto;
	grid-row-gap: 1rem;
}

.contact-us,.welcome .content,
.solutions .content,
.solutions .content .solution .text,
.customize .content,.reporting .content,.pricing .content,
.team .content,.team .content .team-member .text,
.projects .content,.testimonials .tab-area .tab,
.ready .content .info,.blogs .content,
.blogs .content .blog .text,
.contact-us .address .text{
	grid-template-rows: auto auto auto;
	grid-row-gap: 2rem;
}

.customize .content .text, .partners .content{
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

.customize .content .text .icon{
	grid-row: 1/span 2;
}

.welcome .content .essentials,
.pricing .content .card,
.pricing .content .card .details,
.faqs .content .tab-area,
.projects .content .tab-area .tab,.ready .content{
	grid-template-rows: repeat(4,auto);
    grid-row-gap: 2rem;
}

.welcome .form-area form,.contact-us .form-area form{
	grid-template-rows: repeat(5,auto);
	grid-row-gap: 2rem;
}

.team .content .team-member .text .social-links{
	grid-template-columns: auto auto auto auto;
	justify-content: center;
    grid-column-gap: 1rem;
}

.features .content{
	grid-template-rows: repeat(6,auto);
    grid-row-gap: 4rem;
}

.projects .content .labels2{
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	justify-content: center;
    grid-column-gap: 1rem;
}

.testimonials .labels{
	grid-template-columns: auto auto auto;
	justify-content: center;
    grid-column-gap: 1rem;
}

.blogs .content .blog .text .profile{
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	justify-content: start;
    grid-column-gap: 2rem;
}

.footer .social-links{
	grid-template-columns: repeat(5,auto);
	justify-content: center;
    grid-column-gap: 1.6rem;
}

.projects .content .tab-area .tab1,
.projects .content .tab-area .tab2{
	display: none;
}

.projects .content #toggle1:checked ~ .tab-area .tab1,
.projects .content #toggle2:checked ~ .tab-area .tab2
{
	display: grid;
}

.testimonials .tab-area .tab1,
.testimonials .tab-area .tab2,
.testimonials .tab-area .tab3,
.faqs .content .tab-area .text-1,
.faqs .content .tab-area .text-2,
.faqs .content .tab-area .text-3,
.faqs .content .tab-area .text-4{
	display: none;
}

.testimonials #tab-1:checked ~ .tab-area .tab1,
.testimonials #tab-2:checked ~ .tab-area .tab2,
.testimonials #tab-3:checked ~ .tab-area .tab3,
.faqs #tab1:checked ~ .text-1,
.faqs #tab2:checked ~ .text-2,
.faqs #tab3:checked ~ .text-3,
.faqs #tab4:checked ~ .text-4{
	display: grid;
}

input[type="radio"]{
	display: none;
}


/*Tab View*/
@media screen and (min-width: 600px){

.grid-t{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
}

.solutions .content,.pricing .content,
.team .content,.blogs .content{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
}

.customize,.reporting,.people,.faqs,
.ready{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
}

.partners .content,.features .content{
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto;
}

.partners .content .last{
	grid-row: 2;
	grid-column: 1/span 3;
}

.projects .content .tab-area .tab{
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: auto;
}

.contact-us{
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto auto;
}

.contact-us .form-area{
	grid-row: 1/span 2;
}

.customize,.reporting,.pricing .content,.faqs,.team .content,.features .content,
.blogs .content,.contact-us,.solutions .content{
    grid-column-gap: 3rem;
}

.pricing .content .card .details{
	padding: 0 30px;
}

.testimonials .tab-area{
	padding: 0 100px;
}

.get-started .form-area form{
	justify-content: center;
}

.get-started .form-area form .button .btn5{
    border: 2px solid #fff;
    border-radius: 0 4px 4px 0;
}

.get-started .form-area form .form-control.email{
    border-radius: 4px 0 0 4px;
}

.get-started .text{
	font-size: 30px;
	padding: 0 50px;
}

}


/*styling*/

/*header*/

header{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
	background: #fff;
}

nav>ul{
	display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5,auto);
    text-align: center;
    grid-column-gap: 3rem;
}

nav>ul>li a{
    display: grid;
	height: 70px;
    align-items: center;
    text-decoration: none;
    color: grey;
    font-weight: bold;
    font-size: 18px;
}

header nav ul li.last{
	align-self: center;
}

header #toggle, header label{
	position: absolute;
    top: 24px;
	display: none;
}

header .logo{
	font-size: 28px;
    font-weight: 700;
    color: #3b64d2;
}

header label{
    right: 25px;
    color: #595454;
    font-size: 20px;
}

.dropdown{
	position: relative;
}

.dropdown-content{
	position: absolute;
	top: 60px;
	left: -40px;
    background: #fff;
    width: 150px;
    text-align: left;
    font-weight: bold;
    display: none;
}

.dropdown-content a{
	height: 40px;
	color: grey;
	padding: 0px 10px;
}

.dropdown-content a:hover{
	background-color: #f9f3f3;
    padding: 0px 10px;
}

nav>ul>li:hover .dropdown-content{
	display: block;
}

#drop{
	display: none;
}

/* Mobile Navbar */

@media screen and (max-width: 800px){
	nav{
		width: 100%;
		background: #fff;
		display: none;
	}

	nav>ul>li a{
		height: 50px;
		color: #5f5d5d;
    	font-weight: bold;
	}

	header label{
		display: block;
		cursor: pointer;
	}

	header #toggle:checked ~ nav{
		display: block;
	}

	header nav .btn-link {
    width: 42%;
    margin: 20px 0;
	}

	nav>ul{
		display: grid;
    	grid-template-rows: repeat(5,auto);
    	grid-template-columns: 1fr;
    	text-align: left;
	}

	nav>ul>li{
		border-top: 1px solid #c4bebe;
		margin: 0 15px;
	}

	header{
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr;
		background: #fff;
	}

	.logo{
	height: 70px;
    display: grid;
    align-items: center;
    justify-self: start;
    padding-left: 25px;
	}

	.dropdown-content {
	position: static;
	padding-left: 20px;	
    border: none;
    width: 100%;
    display: none;
	}

	.dropdown>a{
		visibility: hidden;
	}

	.dropdown>label{
		left: 0px;
    	color: #5f5d5d;
    	font-weight: bold;
    	font-size: 16px;
	}

	#drop + .dropdown-content{
		display: none;
	}

	#drop:checked + .dropdown-content{
		display: block;
	}
}

/*Header Ends*/


*{
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	text-align: center;
	font-size: 1.6rem;
	line-height: 1.4;
	font-family: 'Dosis', sans-serif;
}

.p-all{
	padding: 8rem 2rem;
}

.img{
	width: 100%;
	height: auto;
}

.bg-blue{
	background-color: #1e90ff;
}

.bg-gray{
    background: #fafbfc;
}

.color-grey{
    color: #071e55;
}

.color-light{
	color: grey;
}

.color-white{
	color: #fff;
}

.font-36{
	font-size: 36px;
}

.font-30{
	font-size: 30px;
}

.font-26{
	font-size: 26px;
}

.font-24{
	font-size: 24px;
}

.font-20{
	font-size: 20px;
}

.font-18{
	font-size: 18px;
}

.font-bold{
	font-weight: bold;
}

.btn{
	cursor: pointer;
    padding: 1.6rem 2rem;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.welcome .heading{
	font-size: 38px;
}

.welcome .content,.customize .content,.reporting .content,.faqs .content .heading,
.faqs .content .tab-area .text-1,.faqs .content .tab-area .text-2,
.faqs .content .tab-area .text-3,.faqs .content .tab-area .text-4{
	text-align: left;
}

.welcome .essentials p::before{
	content: "\f058";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: 10px;
	font-size: 25px;
}

.welcome .form-area{
	width: 100%;
    background: #fff;
    justify-self: center;
    border-radius: 5px;
    padding: 2rem;
}

.welcome .form-area .form-text{
	color: black;
	padding: 1rem 2rem 2rem;
	font-size: 28px;
}

.welcome .form-area form .form-control,.contact-us .form-area form .form-control{
	width: 100%;
    border-radius: 4px;
    border: 1px solid #ededed;
    background: #f7f8f9;
    outline: none;
    padding: 1.4rem;
    font-size: 14px;
}

.welcome .form-area form .btn.btn1{
	width: 100%;
    background: #0c75fb;
    letter-spacing: 1px;
}

.welcome, .solutions,.pricing,.projects .content .tab-area .tab, .ready, .blogs{
	grid-row-gap: 6rem;
    grid-column-gap: 3rem;
}

.solutions .content .solution .image img{
    width: 210px;
    height: auto;
}

.solutions .content .text .button .btn2, .pricing .content .button .btn3 {
	background: transparent;
    color: #1e90ff;
    border: 1px solid #1e90ff;
    border-radius: 10px;
}

.solutions .content,.customize,.partners,.partners .content,.faqs .content,
.team,.team .content, .features,.features .content .feature,.testimonials,.get-started,
.blogs .content{
	grid-row-gap: 3rem;
}

.customize .content .text .icon{
	background-color: #fcfcfc;
    border: 1px solid #eaeaea;
    width: 80px;
    height: 80px;
    text-align: center;
    color: #017df7;
    font-size: 40px;
    line-height: 80px;
    border-radius: 50%;
    margin-right: 2rem;
}

.customize{
    border-top: 1px solid #efefef;
}

.customize .image img,.ready .image img{
	border-radius: 10px;
    box-shadow: 4px 4px 15px #ccc5c5;
}

.reporting .video img, .faqs .image img{
	border-radius: 10px;
	box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.15)
}

.pricing .content .card .price span{
	font-size: 70px;
	font-weight: bold;
	color: #071e55;
}

.pricing .content .card, .team .content .team-member,.blogs .content .blog{
	background: #fff;
    border-radius: 8px;
    border-bottom: 3px solid #e0e0e0;
    box-shadow: rgba(33,33,33,.06) 0 4px 24px 5px;
    padding: 40px 0 30px 0;
}

.team .content .team-member,.blogs .content .blog{
	padding: 0 0 30px; 
}

.pricing .content .card:hover,.team .content .team-member:hover,
.blogs .content .blog:hover{
	border-bottom: 3px solid #1e90ff;
}

.pricing .content .card .title{
	font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #071e55;
}

.pricing .content .card .details{
	font-size: 20px;
    color: #6a6a6a;
    text-align: left;
    justify-self: center;
}

.pricing .content .card .details p::before, .ready .content .info p::before{
	content: "\f00c";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: 10px;
	font-size: 18px;
	color: #1e90ff;
}

.pricing .content .card .price-subtitle{
	font-size: 18px;
    font-weight: 600;
    color: #6a6a6a;
    letter-spacing: 1px;
}

.pricing .content .card .button{
    padding: 15px 0 20px;
}

.pricing .content .card.standard .button .btn3{
	background-color: #1e90ff;
	color: #fff;
}

.pricing .content .card.standard .card-head{
	position: relative;
}

.pricing .content .card.standard .card-head span{
	position: absolute;
	background-color: #1e90ff;
	color: #fff;
	font-size: 10px;
    font-weight: bold;
    padding: 6px 20px;
    bottom: 30px;
    transform: rotate(45deg);
    right: -20px;
}

.people,.partners,.faqs, .features, .testimonials,.blogs{
	border-bottom: 1px solid #efefef;
}

.people .content .text{
	font-size: 30px;
	font-style: italic;
    color: #7c8595;
}

.people .content .info .role{
	color: #1e90ff;
}

.partners .content img{
	max-height: 36px;
    width: auto;
    opacity: 0.4;
}



.faqs .content .tab-area label{
    border-bottom: 1px solid #f4f5f6;
    text-align: left;
    display: block;
    height: 35px;
    line-height: 15px;
    cursor: pointer;
}

.team .content .team-member .text .title .role,.testimonials .tab-area .tab .desc{
	font-style: italic;
}

.team .content .team-member .text .about{
	padding: 0px 20px;
}

.team .content .team-member .text .social-links a{
    width: 34px;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
}

.team .content .team-member .text .social-links a.twitter{
	background-color: #007bff;
}

.team .content .team-member .text .social-links a.pinterest{
	background-color: #C92228;
}

.team .content .team-member .text .social-links a.linked{
	background-color: #3b5998;
}

.team .content .team-member .text .social-links a.dribble{
	background-color: #ea4c89;
}

.team .content .team-member .text .title::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #1e90ff;
    display: inline-block;
}

.team .content .team-member .image img,.blogs .content .blog .image img{
	border-radius: 8px 8px 0 0;
}

.projects .content .tab-area .tab img{
	border-radius: 8px;
    border: 8px solid rgba(255, 255, 255, 0.8);
}

.projects .content{
	position: relative;
}

.projects .content .labels1 label i{
	font-size: 28px;
}

.projects .content .labels1 label{
	position: absolute;
    top: 49%;
    color: #dadafb;
}

.projects .content .labels1 label[for="prev"]{
    left: 10%;   
}

.projects .content .labels1 label[for="next"]{
    right: 10%;
}

.projects .content .labels2 label, .testimonials .labels label{
	width: 25px;
    height: 7px;
    border-radius: 10px;
    background-color: rgba(255,255,255,.5);
    cursor: pointer;
}    

.testimonials .labels label{
	background-color: #e0e0e0;
}

.features .content .feature .icon i{
	font-size: 46px;
    color: #1e90ff;
}

.testimonials .tab-area .tab .image img{
	width: 140px;
    border-radius: 100%;
    background: #fff;
    padding: 6px;
    box-shadow: 2px 2px 10px grey;
}

.testimonials .tab-area .tab .name{
    color: #1e90ff;
}

.ready .content,.blogs .content .blog .text,.contact-us {
	text-align: left;
}

a{
	text-decoration: none;
}

.ready .content .button .btn4{
	padding: 20px 25px;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: #1089d4;
    box-shadow: 0px 8px 40px 0 rgba(0, 0, 0, 0.37);
}

.get-started .form-area form .form-control{
    background: transparent;
    border: 2px solid #fff;
    padding: 20px 40px 20px 20px;
    border-radius: 4px;
    font-size: 16px;
}

.get-started .form-area form .form-control::placeholder{
	color: #fff;
}

.get-started .form-area form .button .btn5{
	background-color: #fff;
    color: #1e90ff;
    padding: 20px;
    font-size: 16px;
}

.blogs .content .blog .text .profile .name{
	border-right: 1px solid #aaa;
	padding-right: 15px;
}

.blogs .content .blog .text .profile i{
	padding-right: 4px;
    color: #656565;
}

.blogs .content .blog .text .profile p{
    color: #656565;
    font-style: italic;
}

.blogs .content .blog .text{
	padding: 0 20px;
}

.contact-us .map iframe{
	width: 100%;
	padding: 10px 10px;
    border-radius: 8px;
    background-color: #f6f7f8;
    border: 1px solid #eaeaea!important;
}

.contact-us .address .text i{
	color: #1e90ff;
	margin-right: 10px;
}

.footer{
	padding: 5rem 2rem;
}

.footer .social-links i{
	font-size: 25px;
    color: #fff;
}


/*Desktop view*/
@media screen and (min-width: 992px){
.grid-d{
	display: grid;
	grid-template-rows: auto;
}

.partners .content{
	grid-template-columns: repeat(4,auto);
    grid-template-rows: auto;
    justify-content: center;
    grid-column-gap: 8rem;
}

.welcome{
	grid-template-columns: 2fr 1fr;
    padding: 8rem 12rem;
}

.welcome .content{
    padding-right: 50px;
}

.welcome .heading{
	align-self: end;
	font-size: 42px;
}

.welcome .description{
	font-weight: bold;
}

.solutions .content,.pricing .content,.team .content,.features .content,.blogs .content{
	padding: 0 10rem;
}

.features{
	grid-row-gap: 6rem;
}

.customize .content{
	padding: 0 30px 0 70px;
}

.customize .image{
	padding: 0 70px;
}

.reporting,.contact-us{
	padding: 8rem 10rem;
}

.reporting .content .heading{
	align-self: end;
}

.people{
	padding: 0;
}

.people .content{
    align-self: center;
    padding: 0 20px 0 80px;
}

.people .image .img-container{
    padding: 8rem 8rem 0 0;
}

.partners .content .last {
    grid-row: 1;
    grid-column: 1;
}

.partners .content img{
	max-height: 62px;
    width: auto;
}

.faqs,.testimonials,.ready{
    padding: 8rem 14rem;
}

.faqs .content .heading{
	align-self: end;
}

.head{
	padding: 0 30rem;
}

.get-started .text{
	padding: 0 35rem;
}

}
